.linker {
	&__container {
		
		
		
		
	    
		background-color: royalblue;
	    border-radius: 20px;
	    padding: 20px;
	    
	    margin-right: 20px;
	    
	    &:not(:first-child) {
		    margin-top: 20px;
		}
	    
	}

	&__link {
		color: honeydew;
	}

	&__title {

	}
	
	&__image {
		width: 100%;
	}
}
